<div class="links">
    <a href="/twitter"><i class="fab fa-twitter"></a></i>
    <a href="/github"><i class="fab fa-github"></i></a>
    <a href="/discord"><i class="fab fa-discord"></i></a>
</div>
<p class="copy">&copy; 2020 - <script>
    document.write(new Date().getFullYear());
</script> Star™ Bot | Todos os Direitos Reservados.</p>
<p class="designer">Website by ADG & TiaGoiNsaNy</p>