<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="name" content="Star™ - Discord Bot!">
<meta name="description"
    content="A melhor Aplicação para o seu Servidor Discord! Com muitas funções incriveis!">
<meta name="keywords" content="Discord, Bot, Server, Star">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="styles/header.css" type="text/css">
<link rel="stylesheet" href="styles/main.css" type="text/css">
<link rel="stylesheet" href="styles/staff.css" type="text/css">
<link rel="stylesheet" href="styles/table.css" type="text/css">
<link rel="icon" href="/assets/emoji.png">
<title>Star™ | Home</title>