<a class="logo" href="/"><img
    src="https://cdn.discordapp.com/avatars/<%= bot.user.id %>/<%= bot.user.avatar %>.png?size=4096"
    alt="logo"></a>
<nav>
<ul class="nav__links">
    <li><a href="/support">Suporte</a></li>
    <li><a href="/commands">Comandos</a></li>
    <li><a href="/staff">Equipe</a></li>
</ul>
</nav>
<a class="cta" href="/add">Adicionar</a>
<p class="menu cta">Menu</p>