<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <header>
        <%- include('./partials/navbar'); %>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/support">Suporte</a>
            <a href="/commands">Comandos</a>
            <a href="/staff">Equipe</a>
        </div>
    </div>

    <div class="infos">
        <h1 class="title-table">LISTA DE COMANDOS</h1>
        <div class="cards-cmd">
            <div class="category">
                <h1 class="title"><i class="fas fa-cog"></i> Configurações</h1>
            </div>
            <div class="commands">
                <p class="cmd"><code>autorole</code>• Define um cargo automático que membros que entrarem irão ganhar.
                </p>
                <p class="cmd"><code>idioma</code>• Altere o idioma da Star.</p>
                <p class="cmd"><code>leave</code>• Defina um canal para as mensagens de saida do seu servidor.</p>
                <p class="cmd"><code>logs</code>• Defina um canal para os logs do seu servidor.</p>
                <p class="cmd"><code>welcome</code>• Defina um canal para as mensagens de boas-vindas do seu servidor.
                </p>
            </div>
        </div>
        <div class="cards-cmd">
            <div class="category">
                <h1 class="title"><i class="fas fa-yen-sign"></i> Economia</h1>
            </div>
            <div class="commands">
                <p class="cmd"><code>sobremim</code>• Altere sua biografia do seu perfil.</p>
                <p class="cmd"><code>daily</code>• Receba uma recompensa diária na sua carteira.</p>
                <p class="cmd"><code>profile</code>• Veja todas as suas informações do seu perfil.</p>
                <p class="cmd"><code>marry</code>• Realize casamentos entre você e seu crush.</p>
            </div>
        </div>
        <div class="cards-cmd">
            <div class="category">
                <h1 class="title"><i class="fas fa-star"></i> Diversão</h1>
            </div>
            <div class="commands">
                <p class="cmd"><code>conquista</code>• Crie uma nova conquista em imagem do Minecraft.</p>
                <p class="cmd"><code>bobross</code>• Crie uma pintura no estilo "bobross".</p>
                <p class="cmd"><code>delete</code>• Que tal você deletar o arquivo na lixeira?</p>
                <p class="cmd"><code>gay</code>• Crie imagens LGBT de um usuário.</p>
                <p class="cmd"><code>lisa</code>• Peça para Lisa Simpson pronunciar algo.</p>
                <p class="cmd"><code>triggered</code>• Você está irritado? Então mostre suas emoções em imagem.</p>
                <p class="cmd"><code>vaporwave</code>• Crie imagens no melhor estilo de vapor.</p>
                <p class="cmd"><code>procurado</code>• Crie imagens de procurado de usuários.</p>
            </div>
        </div>
        <div class="cards-cmd">
            <div class="category">
                <h1 class="title"><i class="fas fa-coffee"></i> Informações</h1>
            </div>
            <div class="commands">
                <p class="cmd"><code>channelinfo</code>• Veja todas as informações do canal atual.</p>
                <p class="cmd"><code>ajuda</code>• Veja o painel de ajuda da Star.</p>
                <p class="cmd"><code>ping</code>• Veja a latência da Star no servidor.</p>
                <p class="cmd"><code>userinfo</code>• Veja todas as informações do um usuário do servidor.</p>
            </div>
        </div>
        <div class="cards-cmd">
            <div class="category">
                <h1 class="title"><i class="fas fa-shield-alt"></i> Moderação</h1>
            </div>
            <div class="commands">
                <p class="cmd"><code>roleall</code>• Coloque um cargo em todos os membros do seu servidor.</p>
            </div>
        </div>
        <div class="cards-cmd">
            <div class="category">
                <h1 class="title"><i class="fas fa-music"></i> Musica</h1>
            </div>
            <div class="commands">
                <p class="cmd"><code>nodes</code>• Veja a lista de usuários na espera de uma musica.</p>
                <p class="cmd"><code>play</code>• Coloque uma musica para ser tocada em um canal de voz.</p>
            </div>
        </div>
        <div class="cards-cmd">
            <div class="category">
                <h1 class="title"><i class="fas fa-search"></i> Utilidades</h1>
            </div>
            <div class="commands">
                <p class="cmd"><code>avatar</code>• Veja o avatar de um usuário do Discord.</p>
                <p class="cmd"><code>slowmode</code>• Altere o tempo do modo lento de um canal.</p>
            </div>
        </div>
    </div>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
    <script src="./scripts/mobile.js"></script>
</body>

</html>
