<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles/header.css" type="text/css">
    <link rel="stylesheet" href="styles/main.css" type="text/css">
    <link rel="stylesheet" href="styles/staff.css" type="text/css">
    <link rel="icon" href="/assets/emoji.png">
    <title>Equipe</title>
</head>

<body>
    <header>
        <a class="logo" href="/"><img
                src="https://cdn.discordapp.com/avatars/719524114536333342/5b47cf5a40a99c8668abd5be7a032fcd.png?size=256"
                alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li><a href="/support">Suporte</a></li>
                <li><a href="/commands">Comandos</a></li>
                <li><a href="/staff">Equipe</a></li>
            </ul>
        </nav>
        <a class="cta" href="#">Adicionar</a>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/support">Suporte</a>
            <a href="/commands">Comandos</a>
            <a href="/staff">Equipe</a>
        </div>
    </div>

    <h1 class="title-staffs">Desenvolvedores</h1>

    <div class="developers">
        <div class="cards-equipe">
            <p class="role">DEV</p>
            <img class="avatar" src="https://cdn.discordapp.com/avatars/726449359167684734/b08bbea61948fc3e8c71d5ba7f22c5d7.png?size=4096">
            <div class="content">
                <h3 class="avatar-name">ADG</h3>
                <p class="description">Programador</p>
                <a href="https://twitter.com/4DG_YT"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/yADGithub"><i class="fa fa-github"></i></a>
                <a href="https://discord.gg/2pFH6Yy "><i class="fab fa-discord"></i></a>
                <div class="skills">
                    <p>Linguagem</p>
                    <ul>
                        <li>HTML</li>
                        <li>JavaScript</li>
                        <li>TypeScript</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cards-equipe">
            <p class="role">DEV</p>
            <img class="avatar" src="https://cdn.discordapp.com/avatars/568182075929395210/e82cd5a9f4b544941d1153d26d81dcc6.png?size=4096">
            <div class="content">
                <h3 class="avatar-name">TiaGoiNsaNy</h3>
                <p class="description">Programador e Designer</p>
                <a href="https://twitter.com/TiaGoiNsaNy"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/TiaGoiNsaNy"><i class="fa fa-github"></i></a>
                <div class="skills">
                    <p>Linguagem</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>TypeScript</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h1 class="title-staffs">Adiministradores</h1>
    
    <div class="developers">
        <div class="cards-equipe">
            <p class="role">ADM</p>
            <img class="avatar" src="https://cdn.discordapp.com/avatars/715625483211112458/a_7fbbc71db893861f6b69d36ee88a29a0.gif?size=4096">
            <div class="content">
                <h3 class="avatar-name">pdr</h3>
                <p class="description">Adiministrador</p>
                <a href="https://discord.gg/U7wzrGr26E"><i class="fab fa-discord"></i></a>
                <div class="skills">
                    <p>Linguagem</p>
                    <ul>
                        <li>Python</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cards-equipe">
            <p class="role">ADM</p>
            <img class="avatar" src="https://cdn.discordapp.com/avatars/733418202704642078/a_df54aca6ef50869d45ad0c073400dd82.gif?size=4096">
            <div class="content">
                <h3 class="avatar-name">yLeuh</h3>
                <p class="description">Administrador</p>
                <a href="https://twitter.com/leoambr"><i class="fa fa-twitter"></i></a>
                <a href="https://discord.gg/SrRxwsXBak"><i class="fab fa-discord"></i></a>
                <div class="skills">
                    <p>Linguagem</p>
                    <ul>
                        <li>JavaScript</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cards-equipe">
            <p class="role">ADM</p>
            <img class="avatar" src="https://cdn.discordapp.com/avatars/485922669208797226/52d7effa167c2d0ab3b4a97e25bb059c.png?size=4096">
            <div class="content">
                <h3 class="avatar-name">Thiaguinha</h3>
                <p class="description">Administrador</p>
            </div>
        </div>
        <div class="cards-equipe">
            <p class="role">ADM</p>
            <img class="avatar" src="https://cdn.discordapp.com/attachments/816426288423501854/819601351871954944/tenor.gif">
            <div class="content">
                <h3 class="avatar-name">Leonardo-ST</h3>
                <p class="description">Administrador</p>
                <a href="https://twitter.com/Leonardo__xxx"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/Leonardo-ST"><i class="fa fa-github"></i></a>
                <a href="https://discord.gg/FH3t4rvfDM"><i class="fab fa-discord"></i></a>
                <div class="skills">
                    <p>Linguagem</p>
                    <ul>
                        <li>JavaScript</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cards-equipe">
            <p class="role">ADM</p>
            <img class="avatar" src="https://cdn.discordapp.com/avatars/552855305277538317/a_379368eae36c6573a28696807b3f528d.gif?size=4096">
            <div class="content">
                <h3 class="avatar-name">SrPolaar</h3>
                <p class="description">Administrador</p>
                <a href="https://twitter.com/SrPolaar"><i class="fa fa-twitter"></i></a>
                <div class="skills">
                    <p>Linguagem</p>
                    <ul>
                        <li>JavaScript</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cards-equipe">
            <p class="role">ADM</p>
            <img class="avatar" src="https://cdn.discordapp.com/avatars/392087996821667841/a_3517704b7cc7ff5a9755ffed112e3115.gif?size=4096">
            <div class="content">
                <h3 class="avatar-name">kayake</h3>
                <p class="description">Administrador</p>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://twitter.com/Kayake14?s=09"><i class="fa fa-twiiter"></i></a>
                <a href="https://github.com/kayke981"><i class="fa fa-github"></i></a>
                <a href="https://discord.gg/2hBhSZMX4Q"><i class="fab fa-discord"></i></a>
                <div class="skills">
                    <p>Linguagem</p>
                    <ul>
                        <li>JavaScript</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cards-equipe">
            <p class="role">ADM</p>
            <img class="avatar" src="https://cdn.discordapp.com/avatars/499210473171058689/7ac97c41552014efb3bfba0dacbf09a3.png?size=4096">
            <div class="content">
                <h3 class="avatar-name">QueenBee</h3>
                <p class="description">Administrador</p>
                <a href="https://twitter.com/rafa_ela_mesma"><i class="fa fa-twitter"></i></a>
                <a href="https://discord.gg/9Grn4uYSfs"><i class="fab fa-discord"></i></a>
                <div class="skills">
                    <p>Linguagem</p>
                    <ul>
                        <li>Nenhum</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>

    <footer>
        <div class="links">
            <a href="/twitter"><i class="fab fa-twitter"></a></i>
            <a href="/github"><i class="fab fa-github"></i></a>
            <a href="/discord"><i class="fab fa-discord"></i></a>
        </div>
        <p class="copy">&copy; 2021 Star™ Bot | Todos os Direitos Reservados.</p>
        <p class="designer">Website by TiaGoiNsaNy</p>
    </footer>
    <script src="./scripts/mobile.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>

</html>